*{
    font-family:AppleSystemUIFont;


}
html{
overflow-x: hidden;
}

header{
    background: #b43434;
    box-shadow: black;

}
header>nav{
    background: aqua;
}

#logo{
    color: deepskyblue;
}

section{

}

 /*-----------home-------------*/

section>div>div>div>div>h5{
    color: #d0d7d7;
    font-size: 30px;
    text-align: center;
}

section>div>div>div>div>p{
    color: darkblue;
    font-size: 20px;

}

/*-----------ABOUT-------------*/

#about{
    background-color: #4f7280;
}

#about-heading{
    color: white;
}

 body>section:nth-child(3)>div>div>div:nth-child(2)>div>p:nth-child(3){
    color: #dae1e1;
}
body>section:nth-child(3)>div>div>div:nth-child(2)>div>p:nth-child(4){
    color: #130101;
}

#room{
    background-color:#4f7280 ;
}
#room h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
#room .card{
    background-color: black;
    /*opacity: .1;*/
}

.card .card-body>h5{
    color: aqua;
}
.card .card-body>p{
    color: #d9e3e3;
}

.card .card-footer{
    background-color: white;
}

#gallery{
    background-color:#4f7280 ;
}
#gallery h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

#conatct{
    background-color:#4f7280 ;
}

#conatct h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

#conatct  #contatct-icon{
    text-align: center;
}



